<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="/">
                    <img src="img/tsooial-logo.png" alt="Toki Şehit Ozan Onur İlgen Anadolu Lisesi">
                    <div class="title">
                        OZAN ONUR İLGEN
                    </div>
                </a>
            </div>
            <div class="texts">
                <p>
                    TŞOOİAL Öğretmen Rapor Bilgilendirme Sistemine Hoş Geldiniz!
                </p>
            </div>
            <div class="transparent"></div>
        </div>
        <section class="banner">
            <div class="box">
                <div class="head">
                    <div class="title">Öğretmenlerimizin Özürlü - Özürsüz Devamsızlık Bilgisi</div>
                </div>
                <div class="main"></div>
            </div>
        </section>
    </div>
</body>
</html>